
.about-split-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
}

.slider-section {
    width: 40%;
    color: white;
}

@media (max-width: 768px) {
    .about-split-container {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        height: 100vh;
    }

    .slider-section {
        width: 90%;
        align-self: center;
    }
}

