/* Timeline container styling */
.timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 80px;
}

@media (max-width: 768px) {
    .timeline {
        flex-direction: column;
        margin: 0 20px;
    }
}
