
.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--app-primary-color);
    padding: 20px;
    color: var(--app-secondary-color);
}

.bottom-social-buttons {
    display: flex;
    gap: 10px;
}

.bottom-social-button {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--app-secondary-color);
    border: none;
    border-radius: 50%;
    font-size: 90%;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.bottom-social-button:hover {
    background-color: var(--app-secondary-color);
    color: white;
}

@media (max-width: 768px) {
    .bottom-container {
        padding: 10px;
    }

    .bottom-container p {
        font-size: .6em;
    }

    .bottom-social-buttons {
        gap: 5px;
    }

    .bottom-social-button {
        width: 20px;
        height: 20px;
        font-size: 70%;
    }
}