/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

/* Tabs navigation */
.tabs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--app-secondary-color);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  z-index: 1000;
}

.tabs a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  transition: color 0.3s;
}

.tabs a:hover {
  color: var(--app-primary-color);
}

.tabs a.active {
  color: var(--app-primary-color);
  font-weight: bold;
  border-bottom: 2px solid var(--app-primary-color);
}

.text-button {
  background: var(--app-primary-color);
  border: none;
  color: var(--app-secondary-color);
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  transition: color 0.3s;
}

.text-button:hover {
  color: white;
}

/* Sections styling */
.mobile-background {
  background-image: none;
}

.sections {
  background-image: url('/public/home_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 40%;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 5;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--app-primary-color);
  padding: 20px;
  color: var(--app-secondary-color);
}

.bottom-social-buttons {
  display: flex;
  gap: 10px;
}

.bottom-social-button {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--app-secondary-color);
  border: none;
  border-radius: 50%;
  font-size: 90%;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.bottom-social-button:hover {
  background-color: var(--app-secondary-color);
  color: white;
}

#home {
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.no-margin {
  margin: 0;
}

@media (max-width: 768px) {
  .mobile-background {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-image: url('/public/home_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .sections {
    background-image: none;
  }

  .tabs {
    gap: 0;
  }

  .section {
    font-size: 16px;
  }

  .bottom-container {
    padding: 10px;
  }

  .bottom-container p {
    font-size: .6em;
  }

  .bottom-social-button {
    width: 20px;
    height: 20px;
    font-size: 70%;
  }
}
